<html>
  <head>
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
        
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="css/index.css" rel="stylesheet">
        <script src="javascripts/index.js"></script>
  </head>
  <body>

    <div class="row" >
        <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img src="http://placehold.it/1200x400/16a085/fffff1&text=Welcome%20">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="http://placehold.it/1200x400/e67e22/fffff1&text=Upload%20">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="http://placehold.it/1200x400/2980b9/fffff1&text=Download%20">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img src="http://placehold.it/1200x400/8e44ad/fffff1&text=Contract%20">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- End Item -->
            </div>
            <!-- End Carousel Inner -->
            <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small></small></a></li>
                <li data-target="#myCarousel" data-slide-to="1"><a href="#">Upload<small></small></a></li>
                <li data-target="#myCarousel" data-slide-to="2"><a href="#">Download<small></small></a></li>
                <li data-target="#myCarousel" data-slide-to="3"><a href="#">Contact<small></small></a></li>
            </ul>
            
        </div>
        <!-- End Carousel -->
        </div>
    </div>

    <div class="page-header">
    <h1>How Its Works</h1>
    </div>

        <div class="container">
                    <div class="row pricing">
                            <div class="col-md-6">
                            <div class="well">
                                <h3><b>Upload Process</b></h3>
                                <hr>
                                <p><b>Let click the Upload button to navigate to the upload page.</b></p>
                                <hr>
                                <p><b>Click Upload File button.</b></p>
                                <hr>
                                <p><b>Choose and upload your files which you want to upload.</b></p>
                                <hr>
                                <p><b>The upload file will be uploaded to the server and the hash value of upload file will be stored in Blockchain.</b></p>
                                <hr>
                                <p><b>Click Download button and check your successful upload !!</b></p>
                                <hr>
                                <a href="upload.html" class="btn btn-default btn-block">Upload</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="well">
                                <h3><b>Download Process</b></h3>
                                <hr>
                                <p><b>Click the Download button to navigate to the download page.</b></p>
                                <hr>
                                <p><b>Choose your file and click the link button</b></p>
                                <hr>
                                <p><b>Generate the hash value of the download file and look up the hash value that stored in Blockchain.</b></p>
                                <hr>
                                <p><b>Verify by checking both hash values have to be equal.</b></p>
                                <hr>
                                <p><b>If the verification completed, Download is successful !!</b></p>
                                <hr>
                                <a href="download.html" class="btn btn-default btn-block">Download</a>
                            </div>
                        </div>
                    </div>
        </div> 
  </body>
  
<html>