<html>
  <head>
        <!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
        <!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
        <link rel="icon" href="data:;base64,iVBORw0KGgo="> <!-- fix buck favicaon.ico (want to get *.html but it gets /:file(*))-->
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link href="css/index.css" rel="stylesheet">
        <script src="javascripts/index.js"></script>
  </head>
  <body>

    <nav class="navbar-custom" data-spy="affix" data-offset-top="197">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Home</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="upload.html">Upload</a></li>
                <li><a href="download.html">Download</a></li>
                <li><a href="verify.html">Verify</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
        </div>
    </nav>

    <div class="row" >
        <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="img-custom center" src="https://doc-08-80-docs.googleusercontent.com/docs/securesc/hg1c5tj0vs8d4skgbeq5cesakequu6pk/jiu0ge2qljhc738vd8il0ccm69f9r82u/1522735200000/11937612672516150092/15661937378822041454/1JL99GY_z4bYLmxZNNDL9IwEAy_40QRGh">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img class="img-custom center" src="https://doc-0s-80-docs.googleusercontent.com/docs/securesc/hg1c5tj0vs8d4skgbeq5cesakequu6pk/hehham1fv0nlnr6p7cavo04b49ft9mr0/1522735200000/11937612672516150092/15661937378822041454/1r49JjRaqZtfUaFbh3V7Kt81DAw3bfIyb">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <div class="item">
                    <img class="img-custom center" src="https://doc-08-80-docs.googleusercontent.com/docs/securesc/hg1c5tj0vs8d4skgbeq5cesakequu6pk/br93431kc4jhb3tg0ii8ri62hpmuucub/1522735200000/11937612672516150092/15661937378822041454/1BneS-i9QSlLuduCFzgwAy_0hBxzZrASu">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div>
                <!-- End Item -->
                <!-- <div class="item">
                    <img src="http://placehold.it/1200x400/8e44ad/fffff1&text=Verify%20">
                    <div class="carousel-caption">
                        <h3>
                        </h3>
                        <p>
                        </p>
                    </div>
                </div> -->
                <!-- End Item -->
            </div>
            <!-- End Carousel Inner -->
            <!-- <ul class="nav nav-pills nav-justified">
                <li data-target="#myCarousel" data-slide-to="0" class="active"><a href="#">About<small></small></a></li>
                <li data-target="#myCarousel" data-slide-to="1"><a href="#">Upload<small></small></a></li>
                <li data-target="#myCarousel" data-slide-to="2"><a href="#">Download<small></small></a></li>
                <li data-target="#myCarousel" data-slide-to="3"><a href="#">Verify<small></small></a></li>
            </ul> -->
            
        </div>
        <!-- End Carousel -->
        </div>
    </div>

    <div class="page-header">
    <h1>How Its Works</h1>
    </div>

        <div class="container">
                    <div class="row pricing">
                            <div class="col-md-4">
                            <div class="well">
                                <h3><b>Upload</b></h3>
                                <hr>
                                <p><b>Let click the Upload button to navigate to the upload page.</b></p>
                                <hr>
                                <p><b>Click Upload File button.</b></p>
                                <hr>
                                <p><b>Choose and upload your files which you want to upload.</b></p>
                                <hr>
                                <p><b>The upload file will be uploaded to the server and the hash value of upload file will be stored in Blockchain.</b></p>
                                <hr>
                                <p><b>Click Download button and check your successful upload !!</b></p>
                                <hr>
                                <a href="upload.html" class="btn btn-default btn-block">Upload</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="well">
                                <h3><b>Download</b></h3>
                                <hr>
                                <p><b>Click the Download button to navigate to the download page.</b></p>
                                <hr>
                                <p><b>Choose your file and click the link button</b></p>
                                <hr>
                                <p><b>Generate the hash value from the download file and look up the hash value that stored in Blockchain.</b></p>
                                <hr>
                                <p><b>Verify by checking both hash values have to be equal.</b></p>
                                <hr>
                                <p><b>If the verification completed, Download is successful !!</b></p>
                                <hr>
                                <a href="download.html" class="btn btn-default btn-block">Download</a>
                            </div>
                        </div>
                        <div class="col-md-4">
                                <div class="well">
                                    <h3><b>Verify</b></h3>
                                    <hr>
                                    <p><b>Click the Verify button to navigate to the verify page.</b></p>
                                    <hr>
                                    <p><b>Choose your file that you want to verify</b></p>
                                    <hr>
                                    <p><b>Generate the hash value from your file and then check with the hash value from the original file in Blockchain</b></p>
                                    <hr>
                                    <p><b>Verify by checking both hash values have to be equal.</b></p>
                                    <hr>
                                    <p><b>If the verification completed, Your file is original !!</b></p>
                                    <hr>
                                    <a href="verify.html" class="btn btn-default btn-block">Verify</a>
                                </div>
                            </div>
                    </div>
        </div> 

        <p>
            <br>
            <br>
        </p>
        
        <!--Footer-->
        <footer class="panel-footer panel-custom">
            <!--Copyright-->
            <div class="footer-copyright py-3 text-center">
                <br>
                © 2018 Copyright: 
                <a href="http://iwing.cpe.ku.ac.th/"> Intelligent Wireless Network Group </a>
                <br> Kasetsart University 
                <br> All rights reserved 
                <br> VERSION 1.0.0
            </div>
            <br>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->

  </body>
  
<html>