<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>File Verification</title>
  <link rel="icon" href="data:;base64,iVBORw0KGgo=">
  <link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <link href="css/verify.css" rel="stylesheet">
</head>
<body>

    <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <span class="glyphicon glyphicon-cloud-download"></span>
                <h2>File Verification</h2>
                <h4>Blockchain</h4>
                
              </div>

              <div class="panel-body">
                  <a href="/" class="btn btn-lg home-page-btn" role="button">Home Page</a>
                  <a href="/upload.html" class="btn btn-lg upload-btn" role="button">Upload</a>
                  <a href="/download.html" class="btn btn-lg download-btn" role="button">Download</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
      <script src='http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js'></script>
      <script src="javascripts/download.js"></script>      
  
</body>
</html>